body {
    background-image: url(imgs/background.jpg);
    color: rgb(19, 41, 61);
}

#meme-image-container{    
    width: 300px;
    height: 300px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    position: relative;
    background-color: rgb(255, 255, 255);
}

#meme-image{
    width: 300px;
    height: 300px;
    border-width: 1px;    
    position: absolute;
}

#meme-text{
    height : 100px;
    width: 300px;
    position: absolute;
    border-width: 5px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.botao-borda{
    width: 90px;
    height: 90px;
    margin: 5px;
}

#botoes-borda{
    margin-left: 10px;
    display: flex;
}

#water{
    background-color: blue;
    color: white;
}

#fire{
    background-color:red;
    color: white;
}

#earth{
    background-color: green;    
    color: white;
}

.mini-meme{
    height: 110px;
    width: 110px;
    margin-top: 5px;
    border-style: solid;
    border-width: 2px;
    margin: 5px;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(150, 154, 151);
    width: 50%;
    margin: auto;
}

#input-container{
    display: flex;
    margin: 10px;
}

#select-foto-container {
    display: flex;
    flex-direction: column;    
}

#images-container {
    display: flex;
}

.teste{
    font-size: 25px;
    font-weight: bold;
}